.button
  background-color transparent
  border 1px solid #E1E1E1
  display block
  padding 21px 0
  color #3C3B3B
  font-family 'Source Sans Pro', sans-serif
  font-weight 700
  font-size 14px
  letter-spacing 3.92px
  text-transform uppercase
  text-align center
  
  &.disabled
    color #D5D5D5