#header
  .main_title
    padding 22px 28px
    border-right 1px solid #EEEEEE

    @media screen and (max-width: 1023px)
      border none

    @media screen and (max-width: 374px)
      padding: 22px 10px

    a
      color #3C3B3B
      font-family 'Source Sans Pro', sans-serif
      font-weight 700
      font-size 14px
      line-height 20px
      letter-spacing 2.8px
      text-transform uppercase
