#header
  .links
    padding-left 28px
    .links_item
      a
        border-right 1px solid #E9E9E9
        color #828282
        font-family 'Source Sans Pro', sans-serif
        font-weight 400
        font-size 14px
        line-height 20px
        letter-spacing 4.2px
        padding-right 27px
        padding-left 21px
        text-transform uppercase
      
      &:last-child
        a
          border none
          padding-right 0