#header
  background-color #FFFFFF
  position relative
  margin 0 0 46px

  @media screen and (max-width: 1439px)
    margin 0 0 60px

  @media screen and (max-width: 639px)
    margin 0 0 39.55px

  .main_title,
  .links,
  .main
    display inline-block