#main
  float right
  width 1043px
  margin-right 204px
  padding 0 0 141px

  .post
    background-color #FFFFFF
    margin 0 0 70.65px
    padding 70px 0 57px

    .header
      border-bottom 1px solid #EEEEEE
      position relative
      padding 0 56px 68px
      margin 0 0 60px
      .title
        max-width 608px
        width 100%
        
        .secondary_title
          a
            color #3C3B3B
            display block
            font-family 'Source Sans Pro', sans-serif
            font-weight 700
            font-size 28px
            line-height 46px
            letter-spacing 9.24px
            text-transform uppercase
        
        .paragraph
          color #8E8E8E            
          font-family 'Source Sans Pro', sans-serif
          font-weight normal
          font-size 14px
          line-height 20px
          letter-spacing 3.92px
          margin 25px 0 0
          padding 0
          text-transform uppercase

      .meta
        position absolute
        right 56px
        top 94px
        max-width 189px
        width 100%

        .published
          color #3C3B3B
          display block        
          font-family 'Source Sans Pro', sans-serif
          font-weight 700
          font-size 14px
          line-height 20px
          letter-spacing 1.68px
          text-transform uppercase

        .author
          display block
          text-align right
          margin 15px 0 0

          .name
            color #808080
            display inline-block        
            font-family 'Source Sans Pro', sans-serif
            font-weight normal
            font-size 12px
            line-height 24px
            letter-spacing 1.44px
            text-transform uppercase
            text-decoration underline
          
          img
            display inline-block
            vertical-align middle
            border-radius 30px
            margin-left 18px
            width 46px

    .image,
    .paragraph,
    .footer
      padding 0 56px

    .image      
      margin 0 0 60px
      display block

      img
        width 100%

    .paragraph
      color #3C3B3B       
      font-family 'Source Sans Pro', sans-serif
      font-weight normal
      font-size 16px
      line-height 30px
      letter-spacing 1.28px

    .button
      background-color transparent
      border 1px solid #E1E1E1
      display block
      width 254px
      padding 21px 0
      color #3C3B3B
      font-family 'Source Sans Pro', sans-serif
      font-weight 700
      font-size 14px
      letter-spacing 3.92px
      text-transform uppercase
      text-align center
      margin 48px 0 0
  
  .actions
    .button
      background-color transparent
      border 1px solid #E1E1E1
      display inline-block
      width 246px
      padding 21px 0
      color #3C3B3B
      font-family 'Source Sans Pro', sans-serif
      font-weight 700
      font-size 14px
      letter-spacing 3.92px
      text-transform uppercase
      text-align center
      margin-right 20px

      &.disabled
        color #D5D5D5
