#main
  float right
  width 1043px
  margin-right 204px
  padding 0 0 141px

  .post
    background-color #FFFFFF
    margin 0 0 70.65px
    padding 70px 0 57px

    .image,
    .paragraph,
    .footer
      padding 0 56px

    .image      
      margin 0 0 60px
      display block

      img
        width 100%

    .paragraph
      color #3C3B3B       
      font-family 'Source Sans Pro', sans-serif
      font-weight normal
      font-size 16px
      line-height 30px
      letter-spacing 1.28px

    .button      
      width 254px      
      margin 48px 0 0
  
  .actions
    .button
      display inline-block
      width 246px
      margin-right 20px
