#main
  float right
  max-width 1043px
  margin-right 204px
  padding 0 0 141px
  width 100%

  @media screen and (max-width: 1919px)
    max-width calc(70% - 40px)
    margin-right 20px

  @media screen and (max-width: 1439px)
    max-width 100%
    float none
    padding 0 0 36.35px

    @media screen and (max-width: 639px)
      padding 0 0 59.41px

  .post
    background-color #FFFFFF
    margin 0 0 70.65px
    padding 70px 0 57px

    @media screen and (max-width: 1439px)
      padding 72.55px 0 57px
      margin 0 0 40.65px

    @media screen and (max-width: 639px)
      padding 73px 0 57px
      margin 0 0 30.65px

    .image,
    .paragraph,
    .footer
      padding 0 56px

      @media screen and (max-width: 1439px)
        padding 0 33.5px

      @media screen and (max-width: 639px)
        padding 0

    .image      
      margin 0 0 60px
      display block

      img
        width 100%

    .paragraph
      color #3C3B3B       
      font-family 'Source Sans Pro', sans-serif
      font-weight normal
      font-size 16px
      line-height 30px
      letter-spacing 1.28px

      @media screen and (max-width: 639px)
        padding 0 16.3px

    .button
      border 1px solid #EEEEEE;
      width 254px      
      margin 48px 0 0

      @media screen and (max-width: 639px)
        margin 48px auto 0
  
  .actions.pagination
    @media screen and (max-width: 1439px)
      text-align center

    span
      .button
        display inline-block
        width 246px
        margin-right 20px

        @media screen and (max-width: 639px)
          margin 0 0 25px

      &:last-child
        .button
          margin-right 0

          @media screen and (max-width: 639px)
            margin 0
          
