#sidebar
  float left
  max-width: 410px
  width 100%
  padding-left 205px
  
  @media screen and (max-width: 1919px)
    padding-left 20px

  @media screen and (max-width: 1439px)
    float none
    padding 0
    max-width: 100%