#sidebar
  float left
  width: 409.5px
  margin-left 205px

  .mini-posts
    max-width 409.5px
    width 100%
    .mini-post
      border 1px solid #EEEEEE
      background-color #FFFFFF
      max-width 409.5px
      margin 0 0 40px
      height 296px
      position relative

      .header
        position absolute
        left 23px
        bottom 26px
        width 100%

        .tertiary_title
          display block
          max-width 292px
          width 100%

          a
            color #3C3B3B
            font-family 'Source Sans Pro', sans-serif
            font-weight 600
            font-size 14px
            line-height 16px
            letter-spacing 3.92px
            text-transform uppercase
            max-width 292px
        
        .published
          display block
          color #808080
          font-family 'Source Sans Pro', sans-serif
          font-weight normal
          font-size 12px
          letter-spacing 1.44px
          text-transform uppercase
          margin 8px 0 0
          max-width 292px

        .author
          position absolute
          right 47px
          bottom 0

          img
            border-radius 30px

      .image
        img
          width 100%

  .posts
    margin 79px 0 0 
    span
      display block
      max-width 410px
      width 100%
      border-bottom 1px solid #eeeeee
      margin 0 0 54px
      position relative
      padding 0 0 33px
    
    .header
      position absolute
      top 0
      left calc(75px + 28px)
      span
        margin 0
        border-bottom none
        position initial
        padding 0

      .tertiary_title
        display block
        max-width 298px
        width 100%

        a
          color #3C3B3B
          font-family 'Source Sans Pro', sans-serif
          font-weight 700
          font-size 14px
          line-height 20px
          letter-spacing 3.36px
          text-transform uppercase
      
      .published
        color #808080
        display block
        font-family 'Source Sans Pro', sans-serif
        font-weight normal
        font-size 12px
        line-height 20px
        letter-spacing 1.44px
        text-transform uppercase
        margin 10px 0 0
    
    .image
      img
        max-width 75px
        width 100%
  
  .blurb
    margin 40px 0 0
    max-width 386px
    width 100%

    .secondary_title
      color #3C3B3B
      display block
      font-family 'Source Sans Pro', sans-serif
      font-weight 700
      font-size 16px
      line-height 20px
      letter-spacing 3.84px
      text-transform uppercase
    
    .paragraph
      color #808080
      font-family 'Source Sans Pro', sans-serif
      font-weight 600
      font-size 16px
      line-height 30px
      margin 27px 0 23px

    .actions
      .button
        background-color #F4F4F4
        border 1px solid #E1E1E1
        display block
        width 184px
        padding 21px 0
        color #3C3B3B
        font-family 'Source Sans Pro', sans-serif
        font-weight 700
        font-size 14px
        letter-spacing 3.92px
        text-transform uppercase
        text-align center
