#sidebar
  
  .blurb
    margin 40px 0 0
    max-width 386px
    width 100%

    @media screen and (max-width: 1439px)
      margin 10px auto 0
      max-width 688px
      padding 0 0 74px

    @media screen and (max-width: 767px)
      max-width 325px

    @media screen and (max-width: 374px)
      max-width 280px

    .secondary_title
      color #3C3B3B
      display block
      font-family 'Source Sans Pro', sans-serif
      font-weight 700
      font-size 16px
      line-height 20px
      letter-spacing 3.84px
      text-transform uppercase
    
    .paragraph
      color #808080
      font-family 'Source Sans Pro', sans-serif
      font-weight 600
      font-size 16px
      line-height 30px
      margin 27px 0 23px

    .actions
      .button       
        width 184px
