#sidebar
  .mini-posts
    max-width 409.5px
    width 100%

    @media screen and (max-width: 1439px)
      max-width 768px
      display flex
      flex-wrap wrap
      justify-content space-between
      margin: 0 auto

    @media screen and (max-width: 767px)
      max-width: 375px

    @media screen and (max-width: 374px)
      max-width 319px

    .mini-post
      border 1px solid #EEEEEE
      background-color #FFFFFF
      max-width 409.5px
      margin 0 0 40px
      height 296px
      position relative
      width 100%

      @media screen and (max-width: 1439px)
        max-width 373px

      @media screen and (max-width: 639px)
        margin: 0 0 30px
      
      @media screen and (max-width: 374px)
        max-width 319px

      .header
        position absolute
        left 23px
        bottom 26px
        width 100%

        .tertiary_title
          display block
          max-width 292px
          width 100%

          @media screen and (max-width: 374px)
            max-width: 230px

          a
            color #3C3B3B
            font-family 'Source Sans Pro', sans-serif
            font-weight 600
            font-size 14px
            line-height 16px
            letter-spacing 3.92px
            text-transform uppercase
            max-width 292px
        
        .published
          display block
          color #808080
          font-family 'Source Sans Pro', sans-serif
          font-weight normal
          font-size 12px
          letter-spacing 1.44px
          text-transform uppercase
          margin 8px 0 0
          max-width 292px

        .author
          position absolute
          right 47px
          bottom 0

          img
            border-radius 30px

      .image
        img
          width 100%