#sidebar

  .posts
    margin 79px 0 0 
    span
      display block
      max-width 410px
      width 100%
      border-bottom 1px solid #eeeeee
      margin 0 0 54px
      position relative
      padding 0 0 33px
    
    .header
      position absolute
      top 0
      left calc(75px + 28px)
      span
        margin 0
        border-bottom none
        position initial
        padding 0

      .tertiary_title
        display block
        max-width 298px
        width 100%

        a
          color #3C3B3B
          font-family 'Source Sans Pro', sans-serif
          font-weight 700
          font-size 14px
          line-height 20px
          letter-spacing 3.36px
          text-transform uppercase
      
      .published
        color #808080
        display block
        font-family 'Source Sans Pro', sans-serif
        font-weight normal
        font-size 12px
        line-height 20px
        letter-spacing 1.44px
        text-transform uppercase
        margin 10px 0 0
    
    .image
      img
        max-width 75px
        width 100%