@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@require "../source/core/reset";
@require "../source/components/atoms/main-title";
@require "../source/components/atoms/main-links";
@require "../source/components/atoms/main-menu";
@require "../source/components/organisms/header";
@require "../source/components/organisms/sidebar";
@require "../source/components/organisms/main";

body
  background-color #F4F4F4